<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="button">
            <name>spacer-general</name>
            <label>Allgemeine Einstellungen</label>
        </element>
        
        <element type="select">
            <name>finTsApiType</name>
            <label lang="de">API Typ</label>
            <label lang="en">API Type</label>
            <description lang="de">Bestimmt den API-Typ über welchen die Transaktionen vom Bankkonto geladen werden. Für die Option `Remote` wird ein spezielles PHP-Skript benötigt welches zusätzlich aufgesetzt werden muss. Mehr informationen finden Sie in der Dokumentation.</description>
            <description lang="en">Determines the API type through which the transactions are loaded from the bank account. For the option `Remote` a special PHP script is required which has to be set up additionally. More information can be found in the documentation.</description>
            <store>
                <option>
                    <value>local</value>
                    <label lang="de">Lokale FinTs Schnittstelle</label>
                    <label lang="en">Local FinTs API</label>
                </option>
                <option>
                    <value>remote</value>
                    <label lang="de">Remote Proxy</label>
                    <label lang="en">Remote Proxy</label>
                </option>
            </store>
        </element>

        <element type="button">
            <name>spacer-proxy</name>
            <label>Proxy-Konfiguration</label>
        </element>
        
        <element required="false">
            <name>proxyHost</name>
            <label lang="de">Remote Proxy Hostname</label>
            <label lang="en">Remote proxy hostname</label>
            <description lang="de">URL zum Proxy. (Bspw. https://fints-proxy.demoshop.de/).</description>
            <description lang="en">Proxy-URL. (e.g. https://fints-proxy.demoshop.com/).</description>
        </element>

        <element type="password" required="false">
            <name>proxySecret</name>
            <label lang="de">Remote Proxy Secret</label>
            <label lang="en">Remote Proxy Secret</label>
            <description lang="de">Im Remote Proxy konfigurierter Sicherheitsschlüssel.</description>
            <description lang="en">Configured remote proxy security token.</description>
        </element>

        <element type="button">
            <name>spacer-fints</name>
            <label>FinTs-Konfiguration</label>
        </element>

        <element required="false">
            <name>fintsServer</name>
            <label lang="de">FinTs Server</label>
            <label lang="en">FinTs Server</label>
            <description lang="de">Der passende Server für Ihr Institut kann unter folgender URL gefunden werden: https://www.hbci-zka.de/institute/institut_auswahl.htm</description>
            <description lang="en">The suitable server for your institute can be found at the following URL: https://www.hbci-zka.de/institute/institut_auswahl.htm</description>
        </element>
        
        <element type="number" required="false">
            <name>fintsPort</name>
            <label lang="de">FinTs Port</label>
            <label lang="en">FinTs Port</label>
            <value>443</value>
            <description lang="de">Der passende Port für Ihr Institut kann unter folgender URL gefunden werden: https://www.hbci-zka.de/institute/institut_auswahl.htm</description>
            <description lang="en">The suitable port for your institute can be found at the following URL: https://www.hbci-zka.de/institute/institut_auswahl.htm</description>
        </element>
        
        <element required="false">
            <name>fintsBankCode</name>
            <label lang="de">FinTs Bankleitzahl</label>
            <label lang="en">FinTs bank code</label>
        </element>

        <element required="false">
            <name>fintsUsername</name>
            <label lang="de">FinTs Username</label>
            <label lang="en">FinTs Username</label>
        </element>

        <element type="password" required="false">
            <name>fintsPin</name>
            <label lang="de">FinTs Pin/Password</label>
            <label lang="en">FinTs Pin code</label>
        </element>
        
        <element required="false">
            <name>fintsAccountToCheck</name>
            <label lang="de">FinTs Abgerufenes-Konto</label>
            <label lang="en">FinTs Account to check</label>
            <description lang="de">Viele Banken bieten mehrere Bankkonto unter einem Benutzer an. Spezifizieren Sie hier von welchem Konto die Transaktionen geprüft werden sollen.</description>
            <description lang="en">Many banks offer several bank accounts under one user. Specify the account from which the transactions are to be checked.</description>
        </element>

        <element type="button">
            <name>spacer-logic</name>
            <label>Verhalten Konfigurieren</label>
        </element>

        <element type="combo">
            <name>prepayPaymentMethods</name>
            <label lang="de">Zu prüfende Zahlungsarten</label>
            <label lang="en">Payment types to be checked</label>
            <description lang="de">Wählen Sie die Zahlungsarten aus bei welchen die Zahlugen geprüft werden sollen.</description>
            <description lang="en">Select the payment methods for which you want to check the payments.</description>
            <store>Shopware.apps.Base.store.Payment</store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>

        <element type="combo">
            <name>paymentIdsToCheck</name>
            <label lang="de">Zu prüfende Zahlungsstati</label>
            <label lang="en">Payment statuses to be checked</label>
            <description lang="de">Markieren Sie die Zahlungsstati bei welchen für eine Bestellungen nach Zahlungen geprüft wird.</description>
            <description lang="en">Select the payment statuses for which payments are checked for an order.</description>
            <store>Shopware.apps.Base.store.PaymentStatus</store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>

        <element type="combo">
            <name>statusIdsToCheck</name>
            <label lang="de">Zu prüfende Bestellstati</label>
            <label lang="en">Order status to be checked</label>
            <description lang="de">Markieren Sie die Stati bei welchen für eine Bestellung nach Zahlungen geprüft wird.</description>
            <description lang="en">Select the statuses for which payments are checked for a purchase order.</description>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>

        <element type="combo">
            <name>statusOnMatch</name>
            <label lang="de">Status nach erfolgreicher Prüfung</label>
            <label lang="en">Status after successful check</label>
            <description lang="de">Status auf welchen die Bestellung gesetzt wird, nachdem eine Zahlung erkannt wurde.</description>
            <description lang="en">Status on which the order is set after a payment has been recognized.</description>
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element type="boolean">
            <name>sendMailOnMatch</name>
            <label lang="de">E-Mail nach Match verschicken</label>
            <label lang="en">Send E-Mail on match</label>
            <description lang="de">Versendet eine E-Mail mit Details zu den gefundenen Zahlungen an den Shopbetreiber.</description>
            <description lang="en">Sends an e-mail with details of the payments found to the shop operator.</description>
        </element>

    </elements>
</config>